:root{
  
  --brighter:#EEEEEE;
  --bright:#32E0C4;
  --dark: #393E46;
  --darker: #222831;
  --darkest: #111827;

}

body{
  background-color: var(--dark);
}

.App-header {
  background-color: var(--darker);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bright);
  border-bottom: 3px solid var(--darkest);
}

.Navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.search-bar{
  text-align: center;
  padding: 2rem;
}

.input-field, .search-btn{
  padding: 0 1rem;
  line-height: 1.8rem;
  border-radius: 10px;
  margin-left: 2rem;
}

.input-field{
  width: 20rem;
}

.List-Container{
  background-color: var(--dark);
  padding: 5rem;
}

.item {
  padding: 1em;
  list-style-type: none;
  margin-bottom: 1em;
  background: #fff;
  border-radius: 18px;
  background: linear-gradient(145deg, #268575, #175248);
  box-shadow:  5px 5px 0px #0b2722,
               -5px -5px 0px #32E0C4;
}

.title{
  font-size: 2rem;
  padding-right: 1rem;
  font-weight: 700;
}

.url{
  font-size: 1rem;
  color: var(--darker);
  font-style: italic;
}

.subtitle {
  color: rgb(255, 254, 254);
  margin: 1em 0;
}