:root{
  
  --brighter:#EEEEEE;
  --bright:#32E0C4;
  --dark: #393E46;
  --darker: #222831;
  --darkest: #111827;

}

body{
  background-color: var(--dark);
}

.App-header {
  background-color: var(--darker);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--bright);
  border-bottom: 3px solid var(--darkest);
}

.Navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.List-Container{
  height: 50em;
  background-color: var(--brighter);
}